<div class="fk-page">

  <div class="fk-container">
    <div class="fk-header">
      <h1 class="fk-title">Modifier mon profil<span class="fk-dot">.</span></h1>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="fk-form-wrapper">

        <!-- 🔥 NOUVEAUX CHAMPS AJOUTÉS -->
        <%= f.input :first_name,
                    label: "Prénom",
                    required: true,
                    input_html: { autocomplete: "first_name" } %>

        <%= f.input :last_name,
                    label: "Nom",
                    required: true,
                    input_html: { autocomplete: "last_name" } %>
        <!-- 🔥 FIN -->

        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "Laissez-le vide si vous ne souhaitez pas le modifier",
                    required: false,
                    label: "Nouveau mot de passe",
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    required: false,
                    label: "Confirmer nouveau mot de passe",
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :current_password,
                    label: "Mot de passe actuel",
                    hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>

        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour", class: "bouton btngen" %>
        </div>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <span class="fk-static-text">Pas satisfait ?</span><br>

      <%= button_to "Supprimer mon compte",
            registration_path(resource_name),
            method: :delete,
            data: { confirm: "Vous êtes sûr ?", turbo_confirm: "Vous êtes sûr ?" },
            class: "fk-link-button mt-2",
            form_class: "d-inline" %>
    </div>
  </div>
</div>
