
<div class="fk-page">
  <div class="fk-bg"></div>

  <div class="fk-container">
    <div class="fk-header">
      <h1 class="fk-title">Créer votre compte<span class="fk-dot">.</span></h1>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
    <div class="fk-form-wrapper">
      <%= f.input :first_name,
                label: "Prénom",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                label: "Nom",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: "Mot de passe",
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirmer le mot de passe",
                required: true,
                input_html: { autocomplete: "new-password" } %>

                <div class="form-actions">
                  <%= f.button :submit, "Inscription", class: "fk-btn" %>
                </div>
                  <% end %>
    </div>
    <p class="fk-p">Déja inscrit ?</p>
    <%= link_to "Se connecter", new_user_session_path, class: "fk-link-button mt-2", role: "button" %>
  </div>
</div>
