<div id="<%= dom_id(task) %>" class="todo-carte" data-controller="task-help" data-completed="<%= task.completed %>">
  <div class="todo-carte-header">
    <!-- Partie gauche : checkbox + divider + titre -->
    <div class="header-left">
      <% if task.completed %>
        <%= link_to uncomplete_task_path(task), data: { turbo_method: :patch, turbo: true }, id: dom_id(task) do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
            <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
              <path d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"/>
              <path stroke-linecap="round" d="m16 24l6 6l12-12"/>
            </g>
          </svg>
        <% end %>
      <% else %>
        <%= link_to complete_task_path(task), data: { turbo_method: :patch, turbo: true }, id: dom_id(task) do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
            <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
              <path d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"/>
            </g>
          </svg>
        <% end %>
      <% end %>

      <div class="vertical-divider"></div>

      <p class="todo-title"><%= task.title %></p>
    </div>

    <!-- Point d'interrogation -->
    <span class="card-help" data-action="click->task-help#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16m-1-5h2v2h-2zm2-1.645V14h-2v-1.5a1 1 0 0 1 1-1a1.5 1.5 0 1 0-1.471-1.794l-1.962-.393A3.501 3.501 0 1 1 13 13.355"/>
        </svg>
    </span>
  </div>

  <!-- Résumé caché par défaut -->
  <div data-task-help-target="body" class="task-summary">
    <p><%= task.ressource_ia %></p>
  </div>
</div>
