<%= turbo_stream.replace(dom_id(@task)) do %>
  <%= render partial: "tasks/complete_card", locals: { task: @task } %>
<% end %>

<% if @objective_completed %>
  <%= turbo_stream.replace(dom_id(@task.todo, "next_todo")) do %>
    <div id="<%= dom_id(@task.todo, "next_todo") %>">
      <p>Bravo, vous avez atteint votre objectif !</p>
      <%= link_to "VOIR MES OBJECTIFS", objectives_path(@objective), class: "bouton fokus-btn" %>
    </div>
  <% end %>
<% end %>

<% if !@objective_completed && @task.todo.completed? %>
  <%= turbo_stream.replace(dom_id(@task.todo, "next_todo")) do %>
    <%= link_to "Passer au jour suivant", next_day_path(@task.todo), class: "bouton fokus-btn", id: dom_id(@task.todo, "next_todo") %>
  <% end %>
<% end %>

<% if @task.priority == 1 %>
  <%= turbo_stream.replace("fokus-btn") do %>
    <a href="#" class="bouton w-100 my-2 fokus-btn d-none"
      data-bs-toggle="modal"
      data-bs-target="#fokusModal"
      data-task-name="<%= @task.title %>"
      id="fokus-btn">
      FOKUS
    </a>
  <% end %>
<% end %>
