<%= turbo_stream.replace(dom_id(@task)) do %>
  <%= render partial: "tasks/uncomplete_card", locals: { task: @task } %>
<% end %>

<%= turbo_stream.replace(dom_id(@task.todo, "next_todo")) do %>
  <div id="<%= dom_id(@task.todo, "next_todo") %>"></div>
<% end %>

<% if @task.priority == 1 %>
  <%= turbo_stream.replace("fokus-btn") do %>
    <a href="#" class="bouton w-100 my-2 fokus-btn"
       data-bs-toggle="modal"
       data-bs-target="#fokusModal"
       data-task-name="<%= @task.title %>"
       id="fokus-btn">
       FOKUS
    </a>
  <% end %>
<% end %>
