<div class="programmes-page fk-container">
  <div class="fk-bg"></div>

  <header class="programmes-header">
    <div class="fk-header">
      <h1 class="fk-title">Mes objectifs<span class="programmes-dot">.</span></h1>
    </div>
  </header>

  <div class="programmes-main-card">
    <div class="programmes-cards-scroll">
      <% if @objectives.any? %>
        <% @objectives.each do |objective| %>
          <div class="programmes-carte">
            <%= link_to objective_path(objective), class: "programmes-carte-link" do %>
              <div class="programmes-carte-header" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
                <p><%= objective.goal %></p>
              </div>
              <div class="programmes-carte-body">
                <p><%= objective.resume %></p>
                <p>Temps quotidien : <%= objective.time_global %> min</p>
                <p>Durée du programme : <%= objective.time_due %> jours</p>
              </div>
            <% end %>

            <div class="programme-footer">
              <%= link_to objective_path(objective),
                  data: { turbo_method: :delete, turbo_confirm: "Supprimer ?" },
                  class: "programmes-delete-btn" do %>
                <%= image_tag "bin.svg", alt: "Supprimer" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= link_to "CREER UN NOUVEL OBJECTIF",
            new_objective_path,
            class: "bouton" %>
      <% else %>
       <h2>Aucun objectif.</h2>

        <div class="fokus-slider"
          data-controller="slidebutton"
          data-slidebutton-target="slider">
          <span class="fokus-slider-text" data-slidebutton-target="text">
            CREER UN OBJECTIF
          </span>

          <div class="fokus-slider-handle"
              data-slidebutton-target="handle"
              data-action="mousedown->slidebutton#startDrag touchstart->slidebutton#startDrag">
            <span class="fokus-slider-arrow">›</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
