<div class="form-container">
  <%= simple_form_for @objective do |f| %>
    <%= f.input :goal, label: "Objectif", required: true %>

    <%= f.input :time_due,
                label: "Durée du programme (jours)",
                as: :integer,
                input_html: { min: 1, required: true } %>

    <%= f.input :time_global,
                label: "Temps quotidien disponible (minutes)",
                as: :integer,
                input_html: { min: 1, required: true } %>

    <%= f.input :resume,
                label: "Résumé / Notes (optionnel)",
                as: :text %>

    <%= f.button :submit, "Générer le programme", class: "btn" %>
  <% end %>
</div>
