<div class="programmes-page fk-container">

    <div class="fk-header" >
      <h1 class="programmes-fk-title"><%= @objective.goal %></h1>
      <p class="programmes-fk-subtitle"><%= @objective.resume %></p>
      <p class="programmes-fk-subtitle">
        <strong>Durée totale :</strong> <%= @objective.time_due %> jours
      </p>
      <p class="programmes-fk-subtitle">
        <strong>Temps quotidien disponible :</strong>
        <%= @objective.time_global %> minutes
      </p>
    </div>

      <% progress = objective_progress(@objective) %>
          <div class="fokus-progress-container"
              data-controller="progress"
              data-progress-percent-value="<%= progress[:percent] %>">
              <span class="fokus-progress-text"><%= progress[:percent] %>%</span>
            <div class="fokus-progress-bar">

              <div class="fokus-progress-points"></div>
            </div>
          </div>

    <hr>

    <h2 class="programmes-fk-subtitle">Programme détaillé</h2>

    <div class="programmes-main-card">
    <div class="programmes-cards-scroll">
      <% if @objective.todos.any? %>
        <% @objective.todos.order(:due_date).each do |todo| %>

        <div class="programmes-carte"
            data-completed="<%= todo.completed %>">
            <div class="programmes-carte-header"
                 style="background-image: url('<%= image_path("backgroundHome.png") %>');
                        background-size: cover;">
                    <%= todo.completed ?
                    "Jour #{todo.to_ordered_day} : Terminé ✔" :
                    "Jour #{todo.to_ordered_day} : #{todo.title}" %>

            </div>

          <div class="programmes-carte-body">
            <p><%= todo.completed ? todo.title : todo.description %></p>
          </div>

          </div>
        <% end %>
        <% else %>
          <p>Aucun programme généré pour cet objectif.</p>
        <% end %>
      <div class="btn-back">
        <%= link_to "Retour aux objectifs", objectives_path, class: "bouton" %>
      </div>
      </div>
      </div>


      <div class="btn-FOKUS">
        <%= link_to "COMMENCER", todo_path(@objective), class: "bouton" %>
      </div> <!-- objective-details -->

  </div> <!-- fk-container -->

</div> <!-- fk-page -->
