<%= turbo_stream_from @objective %>

<div class="programmes-page fk-container showobj">
  <%# <%= link_to objectives_path, class: "back-link" do %>
  <%#   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <%#     <path fill="$noir" d="m4 10l-.707.707L2.586 10l.707-.707zm17 8a1 1 0 1 1-2 0zM8.293 15.707l-5-5l1.414-1.414l5 5zm-5-6.414l5-5l1.414 1.414l-5 5zM4 9h10v2H4zm17 7v2h-2v-2zm-7-7a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5z"/>
  <%#   </svg> %>
  <%# <% end %>

  <div class="fk-header" id="header-obj">
    <h1 class="programmes-fk-title"><%= @objective.goal %></h1>
    <div class="d-flex justify-content-between w-70">
      <p class="header-p">
        <strong>
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
            <path fill="$noir" d="M19 3h-1V2c0-.55-.45-1-1-1s-1 .45-1 1v1H8V2c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-1 16H6c-.55 0-1-.45-1-1V8h14v10c0 .55-.45 1-1 1M8 10h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1H8c-.55 0-1-.45-1-1v-3c0-.55.45-1 1-1"/>
          </svg>
        </strong>
        <%= @objective.time_due %> jours
      </p>
      <p class="header-p">
        <strong>
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
            <path fill="$noir" d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m3.8 13.4L13 11.667V7h-2v5.333l3.2 4.266z"/>
          </svg>
        </strong>
        <%= @objective.time_global %> minutes
      </p>
    </div>
  </div>

  <% progress = objective_progress(@objective) %>
  <div class="fokus-progress-container"
       data-controller="progress"
       data-progress-percent-value="<%= progress[:percent] %>">
    <span class="fokus-progress-text"><%= progress[:percent] %>%</span>
    <div class="fokus-progress-bar">
      <div class="fokus-progress-points"></div>
    </div>
  </div>

  <%= turbo_frame_tag dom_id(@objective, :todos) do %>
    <%= render "todos", objective: @objective %>
  <% end %>

</div> <!-- fk-container -->
