<div class="objective-container">
  <h1>Objectif : <%= @objective.goal %></h1>
  <p><%= @objective.resume %></p>
  <p><strong>Durée totale :</strong> <%= @objective.time_due %> jours</p>
  <p><strong>Temps quotidien disponible :</strong> <%= @objective.time_global %> minutes</p>

  <hr>

  <h2>Programme détaillé</h2>

  <div class="objective-details">
    <% if @objective.todos.any? %>
      <% @objective.todos.order(:due_date).each do |todo| %>
        <div class="card mb-3">
          <div class="card-header">
            Jour <%= todo.to_ordered_day() %> : <%= todo.title %>
          </div>
          <div class="card-body">
            <p><%= todo.description %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Aucun programme généré pour cet objectif.</p>
    <% end %>

    <div class="btn-back">
      <%= link_to "Retour aux objectifs", objectives_path, class: "bouton" %>
    </div>
  </div>
</div>

<div class="btn-FOKUS">
  <%= link_to "FOKUS", root_path, class: "bouton" %>
</div>
