<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-blanc" data-sidebar-target="navbar">

  <div class="container-fluid d-flex justify-content-between align-items-center">

    <button type="button"
            class="btn p-0 border-0 bg-transparent nav-toggle-btn"
            data-action="click->sidebar#open"
            data-sidebar-target="openButton">
      <!-- TON SVG hamburger, inchangé -->
      <svg class="icon-hamburger"
          xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"/>
      </svg>
    </button>

    <!-- Titre centré -->
    <div class="nav-title nav-center position-absolute start-50 translate-middle-x">
      <%= link_to root_path, class: "text-decoration-none noir" do %>
        <h1>FOKUS</h1>
      <% end %>
    </div>

    <!-- Colonne droite vide pour équilibrer -->
    <div style="width:24px;"></div>
     <% if user_signed_in? %>
    <div class="game" data-controller="game">
      <div class="gameBox" style="background-image: url('<%= image_path("backgroundFeature.png") %>'); background-size: cover;">
        <h3>TON NIVEAU</h3>

        <%= image_tag current_user.badge_image, alt: current_user.badge_label, class: "medal" %>

        <p>
          <%= current_user.badge_label %>
        </p>
        <p>
          <%= pluralize(current_user.completed_objectives_count, "objectif", "objectifs") %> terminés
        </p>
      </div>

        <div class="trophee" data-action="click->game#toggle" style="background-image: url('<%= image_path("backgroundHome.png") %>'); background-size: cover;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
            <path fill="#fbf4f4" d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496"/>
          </svg>
        </div>
      </div>
      <% end %>
  </div>
</nav>
