<div class="fk-page">
  <div class="fk-bg"></div>

  <div class="fk-container">
    <div class="fk-header">
      <h1 class="fk-title">Se connecter<span class="fk-dot">.</span></h1>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="fk-form-wrapper">
      <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: "Mots de passe",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean, label: "Se souvenir de moi", input_html: { class: "no-style" } if devise_mapping.rememberable? %>
                <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: "fk-btn" %>
  </div>
<% end %>
    </div>
    <p class="fk-p">Pas inscrit ?</p>
    <%= link_to "Inscription", new_user_registration_path, class: "fk-bouton", role: "button" %>
  </div>
</div>
