<h1>Todos</h1>
<% if @objectives.any? %>
  <ul>
    <% @objectives.each do |objective| %>
      <li class="mb-3">
        <strong><%= objective.goal %></strong><br>
        <%= objective.resume %><br>
        <small>Temps quotidien : <%= objective.time_global %> min</small><br>
        <small>Durée du programme : <%= objective.time_due %> jours</small><br>
        <%= link_to "Voir", objective_path(objective), class: "btn btn-info btn-sm" %>
        <%# <%= link_to "Éditer", edit_objective_path(objective), class: "btn btn-warning btn-sm" %>
        <%= link_to "Supprimer", objective_path(objective), data: {turbo_method: :delete, turbo_confirm: "Supprimer ?" }, class: "btn btn-danger btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun objectif pour le moment.</p>
<% end %>
