<div class="fk-page">

<div class="fk-bg"></div>

<div class="d-flex flex-column align-items-center justify-content-center">

  <div class="task-card">
      <h1> <%= @todo.title %></h1>
      <p><strong>Jour</strong> <%= @todo.to_ordered_day() %></p>
    <ul>
      <% @todo.tasks.each do |task| %>
        <% if task.completed  %>
          <div class = "faite">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4"><path d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"/><path stroke-linecap="round" d="m16 24l6 6l12-12"/></g></svg>
              <p><%= task.title %></p>
            </div>

        <% else %>
          <div class = "tache a-faire">
            <div class="task-header blanc">
              <%= link_to task_path(@objective, task: task), data: { turbo_method: :patch }, class: "blanc" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4"><path d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"/></g></svg>
              <% end %>
              <p> <%= task.title %> </p>
            </div>
            <div class="p-1">
              <details>
                <summary>Comment faire ?</summary>
                <p class="p-2"><%= task.ressource_ia %></p>
              </details>
            </div>

          </div>
        <% end %>
      <% end %>
    </ul>

    <% if @objective_completed == true %>
      <% if @todo_just_completed == true %>
        <p>Bravo vous avez atteint votre objectif</p>
        <%= link_to "VOIR MES OBJECTIFS",
            objectives_path(@objective),
            class: "bouton" %>
      <% end %>
    <% else %>
      <% if @todo_just_completed == true %>
        <%= link_to "Passer au jour suivant",
            next_day_path(@objective),
            class: "bouton" %>
      <% end %>
    <% end %>

    <% @todo.tasks.each do |task| %>
      <% if task.priority == 1 && !task.completed %>
        <a href="#" class="bouton w-100 my-2 fokus-btn" data-bs-toggle="modal" data-bs-target="#fokusModal" data-task-name="<%= task.title %>">FOKUS</a>
      <% end %>
    <% end %>

 <%# Modal FOKUS %>
  <div class="modal fade" id="fokusModal" tabindex="-1" aria-labelledby="fokusModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fokusModalLabel">Mode FOKUS - <span id="taskName"></span></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div id="timer" class="h2 mb-3 fw-bold text-primary">25:00</div>
          <p class="mb-4">Session de travail concentré</p>
          <div class="d-flex justify-content-center gap-2 mb-3">
            <button type="button" class="btn btn-success" id="startBtn">Démarrer</button>
            <button type="button" class="btn btn-secondary" id="pauseBtn" style="display: none;">Pause</button>
            <button type="button" class="btn btn-danger" id="stopBtn">Stop</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>

</div>
