<div class="stats-wrapper">
  <div class="stats-background"></div>

  <header class="stats-header">
    <h1 class="stats-title">
      Mes Statistiques<span class="stats-title-dot">.</span>
    </h1>
  </header>

  <div class="stats-container">

    <div class="stats-grid">

      <!-- 1 - Objectifs créés -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Objectifs créés
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @objectives_count %></p>
        </div>
      </div>

      <!-- 2 - Objectifs complétés -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Objectifs complétés
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @objectives_completed %></p>
        </div>
      </div>

      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Tâches créées
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @tasks_total %></p>
        </div>
      </div>

      <!-- 4 - Tasks complétées -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Tâches complétées
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @tasks_done %> / <%= @tasks_total %></p>
        </div>
      </div>

      <!-- 6 - Jours actifs -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Jours actifs
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @days_visited_count %></p>
        </div>
      </div>

      <!-- 7 - Streak actuel -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Streak actuel
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @streak %> jours</p>
        </div>
      </div>



      <!-- 🔥 12 - Temps total estimé -->
      <div class="stats-card">
        <div class="stats-card-title" style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          Temps total estimé
        </div>
        <div class="stats-card-body">
          <p class="stats-card-number"><%= @total_learning_time %> min</p>
        </div>
      </div>


    </div>


      <%= link_to "Statistiques de tous mes objectifs", stats_objectives_path %>
  </div>
</div>
